.login-container {
    max-width: 360px;
    margin: 0 auto;
    padding: 60px 20px;
    text-align: center;
}

.login-title {
    margin-top: 40px;
    margin-bottom: 100px;
}


.logo {
    font-size: 30px;
    font-weight: 800;
    color: #93f4b0;
    margin-top: 100px;
    margin-bottom: 16px;
}

.description {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 150px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.naver {
    border-radius: 5px;
}


.email-login {
    margin-top: 24px;
    background: none;
    border: none;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}
