<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mypage.MyPageMapper">

    <select id="findByUserId" resultType="com.example.demo.mypage.MyPageVO">
        SELECT *
        FROM users
        WHERE email = #{userId}
    </select>

    <update id="updateMyPage">
        UPDATE users
        SET name = #{name},
            nickname = #{nickname},
            birth_date = #{birthDate},
            introduction = #{introduction},
            profile_img = #{profileImg}
        WHERE email = #{userId}
    </update>

    <delete id="deleteByEmail">
        DELETE FROM users
        WHERE email = #{email}
    </delete>

    <!-- 내 성별 조회 추가 -->
    <select id="getGender" resultType="String">
        SELECT gender
        FROM users
        WHERE email = #{email}
    </select>

</mapper>
