<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.RoomList.RoomListMapper">

    <!-- 모집 리스트 조회 (OPEN만) -->
    <select id="selectRoomList"
            resultType="com.example.demo.RoomList.RoomListVO">

        SELECT
            r.room_id AS roomId,
            r.title,

            r.host_user_email AS hostUserEmail,

            u.nickname,

            r.room_img AS roomImg,
            r.start_date AS startDate,
            r.max_participants AS maxParticipants,

            (
                SELECT COUNT(*)
                FROM room_join_request rjr
                WHERE rjr.room_id = r.room_id
                  AND rjr.status = '승인'
            ) AS currentParticipants,

            r.deadline,
            r.gender,
            r.created_at AS createdAt,

            CASE
                WHEN c.level = 1 THEN c.name
                WHEN c.level = 2 THEN c.name
                WHEN c.level = 3 THEN mid.name
                END AS midCategoryName,

            CASE
                WHEN c.level = 3 THEN c.name
                ELSE NULL
                END AS subCategoryName

        FROM room r
                 JOIN users u ON r.host_user_email = u.email
                 LEFT JOIN category c ON r.categoryId = c.id
                 LEFT JOIN category mid ON c.parent_id = mid.id

        WHERE r.status = 'OPEN'
        ORDER BY r.created_at DESC

    </select>




    <!-- deadline 지난 방 CLOSED 처리 -->
    <update id="closeExpiredRooms">
        UPDATE room
        SET status = 'CLOSED'
        WHERE deadline &lt; CURDATE()
          AND status = 'OPEN'
    </update>


    <!-- 정원 다 찬 방 CLOSED 처리 -->
    <update id="closeFullRooms">
        UPDATE room r
        SET r.status = 'CLOSED'
        WHERE r.status = 'OPEN'
          AND (
                  SELECT COUNT(*)
                  FROM room_join_request rjr
                  WHERE rjr.room_id = r.room_id
                    AND rjr.status = '승인'
              ) &gt;= r.max_participants
    </update>

    <delete id="deleteRoom" parameterType="String">
        DELETE FROM room
        WHERE room_id = #{roomId}
    </delete>

</mapper>
