<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.RoomList.RoomDetailMapper">

    <select id="selectRoomDetail"
            resultType="com.example.demo.RoomList.RoomDetailVO">

        SELECT
            r.room_id AS roomId,
            r.title,
            r.content,
            r.gender,
            r.max_participants AS maxParticipants,

            -- 현재 참여 인원 (방장 포함)
            (
                SELECT COUNT(*) + 1
                FROM room_join_request rjr
                WHERE rjr.room_id = r.room_id
                  AND rjr.status = '승인'
            ) AS currentParticipants,

            r.deadline,
            r.start_date AS startDate,
            r.exam_date AS examDate,
            r.ended_at AS endDate,
            r.created_at AS createdAt,
            r.room_img AS roomImg,

            u.nickname,
            r.host_user_email AS hostUserEmail,

            r.hostUserNickname AS hostUserNickname,
            r.categoryId       AS categoryId,

            c2.name AS midCategoryName,
            c3.name AS subCategoryName

        FROM room r
                 JOIN users u ON r.host_user_email = u.email
                 LEFT JOIN category c2 ON r.categoryId = c2.id
                 LEFT JOIN category c3 ON c2.parent_id = c3.id

        WHERE r.room_id = #{roomId}

    </select>

</mapper>
