<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.roomcreate.RoomCreateMapper">

    <insert id="insertRoom">
        INSERT INTO room (
            room_id,
            host_user_email,
            title,
            content,
            gender,
        max_participants,
            status,
            categoryId,
            start_date,
            exam_date,
            deadline,
            ended_at,
            hostUserNickname,
            created_at
        ) VALUES (
            #{roomId},
            #{hostUserEmail},
            #{title},
            #{content},
            #{gender},
            #{maxParticipants},
            'OPEN',
            #{categoryId},
            #{startDate},
            #{examDate},
            #{deadline},
            #{endDate},
            #{hostUserNickname},
            NOW()
        )
    </insert>



    <select id="findAllRooms"
            resultType="com.example.demo.roomcreate.RoomCreateVO">
        SELECT
            room_id            AS roomId,
            host_user_email    AS hostUserEmail,
            hostUserNickname,
            title,
            content,
            gender,
            max_participants   AS maxParticipants,
            status,
            categoryId,
            start_date         AS startDate,
            ended_at           AS endDate,
            exam_date          AS examDate,
            deadline,
            created_at         AS createdAt
        FROM room
        ORDER BY created_at DESC
    </select>


    <select id="findRoomById"
            resultType="com.example.demo.roomcreate.RoomCreateVO">
        SELECT
            room_id            AS roomId,
            host_user_email    AS hostUserEmail,
            hostUserNickname,
            title,
            content,
            gender,
            max_participants   AS maxParticipants,
            status,
            categoryId,
            start_date         AS startDate,
            ended_at           AS endDate,
            exam_date          AS examDate,
            deadline,
            created_at         AS createdAt
        FROM room
        WHERE room_id = #{roomId}
    </select>


</mapper>
