<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.RoomList.RoomListMapper">

    <select id="selectRoomList"
            resultType="com.example.demo.RoomList.RoomListVO">

        SELECT
            r.room_id           AS roomId,
            r.title             AS title,
            r.host_user_nickname AS nickname,
            mc.name             AS midCategoryName,
            sc.name             AS subCategoryName,
            r.max_participants  AS maxParticipants,
            r.gender            AS gender,
            r.created_at        AS createdAt

        FROM room r
                 LEFT JOIN category sc
                           ON r.categoryId = sc.id
                 LEFT JOIN category mc
                           ON sc.parent_id = mc.id
        ORDER BY r.created_at DESC

    </select>

</mapper>
