services:
  backend:
    image: certificate-study/backend:latest
    container_name: backend
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8080:8080"

  frontend:
    image: certificate-study/frontend:latest
    container_name: frontend
    restart: unless-stopped
    ports:
      - "3000:80"