body {
    font-family: 'Noto Sans KR', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
textarea,
select,
button {
  font: inherit;
}

textarea {
  resize: none;
  overflow-y: auto;
}