.header {
    height: 56px;
    padding: 0 24px;
    background-color: #f6faf3;
    border-bottom: 1px solid #e6eee1;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    display: flex;
    flex-direction: column; /* ⭐ 핵심 */
    gap: 2px;
}

.header-text p {
    margin: 0;
    font-size: 13px;
    color: #666;
}

/* 왼쪽 */
.header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-box {
    width: 20px;
    height: 20px;
    background-color: #97c793;
    border-radius: 4px;
}

.title {
    font-size: 15px;
    font-weight: 600;
    color: #1f2937;
}

/* 오른쪽 */
.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #6b7280;
}

.header-right svg {
    cursor: pointer;
}

.profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #e5e7eb;

    display: flex;
    align-items: center;
    justify-content: center;
}
