/* 전체 레이아웃 */
.lms-subject-layout {
    display: flex;
    min-height: calc(100vh - 60px); /* 헤더 높이 고려 */
    background-color: #f5f9f4;
}



/* 우측 콘텐츠 영역 */
.subject-content {
    flex: 1;
    padding: 32px;
}
